@tailwind base;
@tailwind components;
@tailwind utilities;

@import '~@fontsource/ibm-plex-sans/index.css';

$radius-base: 10px;

body {
  font-family: 'IBM Plex Sans', sans-serif;
}

// reset select
.ant-select-selector {
  border-right: none;
}

.ant-select-selection-item .collapsed {
  left: 6px !important;
}

.darwinia-light-select,
.crab-light-select,
.crab-parachain-light-select,
.pangoro-light-select,
.pangolin-light-select,
.pangolin-parachain-light-select,
.darwinia-dark-select,
.crab-parachain-dark-select,
.pangoro-dark-select,
.pangolin-parachain-dark-select {
  .ant-select-selector {
    padding: 0 !important;
  }

  .ant-select-selection-item {
    display: flex;
    text-transform: capitalize;
    padding-left: 10px !important;
    overflow: visible;

    .collapsed {
      position: absolute;
      height: 1rem;
      left: -3px;
    }
  }
}

.darwinia-light-select .ant-select-selector,
.darwinia-dark-select .ant-select-selector {
  border-color: #ff0083 !important;
}

.crab-light-select .ant-select-selector,
.crab-parachain-light-select .ant-select-selector,
.crab-dark-select .ant-select-selector,
.crab-parachain-dark-select .ant-select-selector {
  border-color: #512dbc !important;
}

.pangolin-light-select .ant-select-selector,
.pangolin-parachain-light-select .ant-select-selector,
.pangoro-light-select .ant-select-selector,
.pangolin-dark-select .ant-select-selector,
.pangolin-parachain-dark-select .ant-select-selector,
.pangoro-dark-select .ant-select-selector {
  border-color: #4b30dd !important;
}

.radio-list {
  display: flex;
  align-items: center;
  padding: 2rem 10px;
  margin-bottom: 1rem;
  border-radius: $radius-base !important;
  border-width: 1px !important;

  &.ant-radio-button-wrapper-checked {
    background: transparent !important;
  }

  .ant-radio-button + span {
    display: flex;
    align-items: center;
    width: 100%;
    overflow: hidden;
  }

  &::before {
    visibility: hidden !important;
  }
}

// router transition animate classes
.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.fade-exit {
  display: none;
}

// connection component style
.connection {
  .anticon-copy {
    color: #ffffff;
  }
}

// active side menu indicator line
.ant-menu-inline .ant-menu-item::after {
  z-index: 99;
}

// collapse
.hidable-collapse .ant-collapse-item .ant-collapse-header {
  cursor: default;
}

// table
.dark-table .ant-table-tbody > tr.ant-table-row-selected > td {
  background: #262626;
}

.intro-step-tooltip {
  border-radius: 10px;

  .introjs-tooltip-title {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    color: rgba(0, 0, 0, 0.65);
  }

  .introjs-skipbutton {
    visibility: hidden;
  }

  .introjs-tooltiptext {
    border-top: rgba(0, 0, 0, 0.06) solid 1px;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: rgba(0, 0, 0, 0.65);
  }

  .introjs-tooltipbuttons {
    border-top: none;
  }

  .introjs-button {
    width: 100%;
    background: transparent;
    border: 1px solid #ff0083;
    padding: 0;
    border-radius: 10px;
    line-height: 2rem;
    text-align: center;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.65);

    &:hover {
      opacity: 0.8;
    }
  }

  .introjs-prevbutton {
    display: none;
  }
}

.intro-step-heighlight {
  box-shadow: rgb(33 33 33 / 50%) 0 0 0 5000px !important;
}

.page-account-tabs {
  > .ant-tabs-nav::before {
    bottom: -1px;
    background: linear-gradient(315.52deg, #ff0050 0.88%, #7000ff 71.7%, #0027ff 100%);
    height: 1px;
    opacity: 0.2;
    border-bottom: none !important;
  }
}

.page-account-tabs-crab,
.page-account-tabs-crab-parachain {
  > .ant-tabs-nav::before {
    background: #512dbc;
  }
}

.page-account-tabs-darwinia {
  > .ant-tabs-nav::before {
    background: #ff0083;
  }
}

.page-account-tabs-pangolin,
.page-account-tabs-pangolin-parachain {
  > .ant-tabs-nav::before {
    background: #4b30dd;
  }
}

.page-account-tabs-pangoro {
  > .ant-tabs-nav::before {
    background: #4b30dd;
  }
}

.network-radio-button-crab:hover,
.network-radio-button-crab-parachain:hover {
  border-color: #512dbc !important;
}

.network-radio-button-darwinia:hover {
  border-color: #ff0083 !important;
}

.network-radio-button-pangolin:hover,
.network-radio-button-pangolin-parachain:hover {
  border-color: #4b30dd !important;
}

.network-radio-button-pangoro:hover {
  border-color: #4b30dd !important;
}

.staking-earnings-time {
  border-radius: 10px !important;
  background: #eaeaea !important;
}

.staking-earnings-time-btn {
  border: none !important;
  background: #eaeaea !important;

  &::before {
    display: none !important;
  }
}

.staking-earnings-time-btn-checked-crab,
.staking-earnings-time-btn-checked-crab-parachain {
  border-radius: 10px !important;
  background: #512dbc !important;
}

.staking-earnings-time-btn-checked-darwinia {
  border-radius: 10px !important;
  background: #ff0083 !important;
}

.staking-earnings-time-btn-checked-pangolin,
.staking-earnings-time-btn-checked-pangolin-parachain {
  border-radius: 10px !important;
  background: #4b30dd !important;
}

.staking-earnings-time-btn-checked-pangoro {
  border-radius: 10px !important;
  background: #4b30dd !important;
}

.fee-market-refresh {
  &:active {
    transform: rotate(180deg) !important;
  }
}
