@tailwind base;
@tailwind components;
@tailwind utilities;

@import '~@fontsource/ibm-plex-sans/index.css';

$accent: #ec3783;
$primary: #5745de;

$bg-darwinia: linear-gradient(-45deg, #fe3876 0%, #7c30dd 71%, #3a30dd 100%);

$radius-base: 10px;

body {
  font-family: 'IBM Plex Sans', sans-serif;
}

@mixin main-border {
  border: 2px solid transparent;
  border-radius: $radius-base;
  background: linear-gradient(#ffffff, #ffffff) padding-box, linear-gradient(to right, $primary, $accent) border-box;
}

// reset select
.ant-select-selector {
  border-right: none;
}

.darwinia-light-select,
.crab-light-select,
.pangoro-light-select,
.pangolin-light-select,
.darwinia-dark-select,
.crab-dark-select,
.pangoro-dark-select,
.pangolin-dark-select {
  .ant-select-selection-item {
    display: flex;
    text-transform: capitalize;
    padding-left: 10px !important;
    overflow: visible;

    .collapsed {
      position: absolute;
      height: 1rem;
      left: -3px;
    }
  }
}

.darwinia-light-select .ant-select-selection-item .collapsed,
.darwinia-dark-select .ant-select-selection-item .collapsed {
  left: 6px;
}

.darwinia-light-select .ant-select-selector,
.darwinia-dark-select .ant-select-selector {
  background-origin: border-box;
  background-clip: content-box, border-box;
  padding: 0 !important;
  border-color: transparent !important;
}

.darwinia-light-select .ant-select-selector {
  background-image: linear-gradient(#ffffff, #ffffff), linear-gradient(-45deg, #fe3876 0%, #7c30dd 71%, #3a30dd 100%);
}

.darwinia-dark-select .ant-select-selector {
  background-image: linear-gradient(#000000, #000000), linear-gradient(-45deg, #fe3876 0%, #7c30dd 71%, #3a30dd 100%);
}

.crab-light-select .ant-select-selector,
.crab-dark-select .ant-select-selector {
  border-color: #ec3783 !important;
}

.pangolin-light-select .ant-select-selector,
.pangoro-light-select .ant-select-selector,
.pangolin-dark-select .ant-select-selector,
.pangoro-dark-select .ant-select-selector {
  border-color: #5745de !important;
}

.radio-list {
  display: flex;
  align-items: center;
  padding: 2rem 10px;
  margin-bottom: 1rem;
  border-radius: $radius-base !important;
  border-width: 1px !important;

  &.ant-radio-button-wrapper-checked {
    @include main-border();
  }

  .ant-radio-button + span {
    display: flex;
    align-items: center;
    width: 100%;
    overflow: hidden;
  }

  &::before {
    visibility: hidden !important;
  }
}

// router transition animate classes
.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.fade-exit {
  display: none;
}

// connection component style
.connection {
  .anticon-copy {
    color: #ffffff;
  }
}

// active side menu indicator line
.ant-menu-inline .ant-menu-item::after {
  z-index: 99;
}

// collapse
.hidable-collapse .ant-collapse-item .ant-collapse-header {
  cursor: default;
}

// table
.dark-table .ant-table-tbody > tr.ant-table-row-selected > td {
  background: #262626;
}

.intro-step-tooltip {
  border-radius: 10px;

  .introjs-tooltip-title {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    color: rgba(0, 0, 0, 0.65);
  }

  .introjs-skipbutton {
    visibility: hidden;
  }

  .introjs-tooltiptext {
    border-top: rgba(0, 0, 0, 0.06) solid 1px;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: rgba(0, 0, 0, 0.65);
  }

  .introjs-tooltipbuttons {
    border-top: none;
  }

  .introjs-button {
    width: 100%;
    background-clip: content-box, border-box;
    background-image: linear-gradient(#ffffff, #ffffff), linear-gradient(315deg, #ff0050, #7000ff, #0027ff);
    background-origin: border-box;
    border: 1px solid transparent;
    padding: 0;
    border-radius: 10px;
    line-height: 2rem;
    text-align: center;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.65);
  }

  .introjs-prevbutton {
    display: none;
  }
}

.intro-step-heighlight {
  box-shadow: rgb(33 33 33 / 50%) 0 0 0 5000px !important;
}

.page-account-tabs {
  > .ant-tabs-nav::before {
    bottom: -1px;
    background: linear-gradient(315.52deg, #ff0050 0.88%, #7000ff 71.7%, #0027ff 100%);
    height: 1px;
    opacity: 0.2;
    border-bottom: none !important;
  }
}

.page-account-tabs-crab {
  > .ant-tabs-nav::before {
    background: #ec3783;
  }
}

.page-account-tabs-darwinia {
  > .ant-tabs-nav::before {
    background: linear-gradient(315.52deg, #ff0050 0.88%, #7000ff 71.7%, #0027ff 100%);
  }
}

.page-account-tabs-pangolin {
  > .ant-tabs-nav::before {
    background: #5745de;
  }
}

.page-account-tabs-pangoro {
  > .ant-tabs-nav::before {
    background: #5745de;
  }
}

.account-select-btn-group-crab:hover {
  border-color: #ec3783 !important;
}

.account-select-btn-group-darwinia:hover {
  border-color: transparent !important;
  background: linear-gradient(#ffffff, #ffffff) padding-box, linear-gradient(to right, #5745de, #ec3783) border-box !important;
}

.account-select-btn-group-pangolin:hover {
  border-color: #5745de !important;
}

.account-select-btn-group-pangoro:hover {
  border-color: #5745de !important;
}

.staking-earnings-time {
  border-radius: 10px !important;
  background: #eaeaea !important;
}

.staking-earnings-time-btn {
  border: none !important;
  background: #eaeaea !important;

  &::before {
    display: none !important;
  }
}

.staking-earnings-time-btn-checked-crab {
  border-radius: 10px !important;
  background: #ec3783 !important;
}

.staking-earnings-time-btn-checked-darwinia {
  border-radius: 10px !important;
  background: linear-gradient(-45deg, #fe3876 0%, #7c30dd 71%, #3a30dd 100%) !important;
}

.staking-earnings-time-btn-checked-pangolin {
  border-radius: 10px !important;
  background: #5745de !important;
}

.staking-earnings-time-btn-checked-pangoro {
  border-radius: 10px !important;
  background: #5745de !important;
}
