@font-face {
  font-family: JetBrainsMono-Thin;
  src: url("./fonts/JetBrainsMono-Thin.woff2") format("woff2");
}

@font-face {
  font-family: JetBrainsMono-Light;
  src: url("./fonts/JetBrainsMono-Light.woff2") format("woff2");
}

@font-face {
  font-family: JetBrainsMono-Regular;
  src: url("./fonts/JetBrainsMono-Regular.woff2") format("woff2");
}

@font-face {
  font-family: JetBrainsMono-Bold;
  src: url("./fonts/JetBrainsMono-Bold.woff2") format("woff2");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply bg-bg-primary;
  }
}

@layer components {
  .text-thin {
    @apply font-[JetBrainsMono-Thin] font-thin;
  }
  .text-light {
    @apply font-[JetBrainsMono-Light] font-light;
  }
  .text-normal {
    @apply font-[JetBrainsMono-Regular] font-normal;
  }
  .text-bold {
    @apply font-[JetBrainsMono-Bold] font-bold;
  }
}

.card-filp {
  height: 240px;
  position: relative;
  transform-style: preserve-3d;
  transition: 0.6s;
}
.front,
.back {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  /* backface-visibility: hidden; */
}
.back {
  transform: rotateY(180deg);
}

/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
