name: Deploy staging

on:
  push:
    branches: [master]

jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - uses: actions/checkout@v2
        with:
          repository: itering/actions
          path: .github/actions
          persist-credentials: false
          ssh-key: "${{ secrets.ITERING_ACTIONS_DEPLOY_KEY }}"

      - name: Install dependencies
        run: yarn install

      - name: Build
        run: yarn build

      - name: Prepare Project Config
        run: |
          mv vercel.json build/
          mv faucet/* build/

      - uses: ./.github/actions/smart-vercel
        name: Deploy to Vercel
        id: smart-vercel
        with:
          node_version: 16
          vercel_token: ${{ secrets.VERCEL_TOKEN }}
          vercel_group: itering
          preview_output: true
          project_name: apps
          script_run: false
          enable_cache: true
          enable_notify_slack: true
          slack_channel: darwinia-apps
          slack_webhook: ${{ secrets.SLACK_INCOMING_WEBHOOK_URL }}
